@tailwind base;
@tailwind components;
@tailwind utilities;

.prose { min-width: 100%; }

html {
    @apply bg-cover bg-center bg-[url('/public/bg.webp')] min-h-screen;
}

body {
    @apply rounded-lg m-10 p-10 md:m-28 xl:m-44 border-4
    rounded-2xl backdrop-filter backdrop-blur-3xl backdrop-saturate-150 bg-white bg-opacity-60
    dark:bg-black dark:bg-opacity-40;
}

.customInput {
    @apply block w-full px-4 py-2 mt-2 text-black bg-white bg-opacity-50 rounded-md
    dark:text-gray-100 dark:bg-black dark:bg-opacity-50
    focus:ring-blue-300 focus:ring-opacity-40
    focus:outline-none focus:ring;
}

.button {
    @apply px-6 py-2 leading-5 text-white transition-colors duration-200 transform rounded-md
        bg-slate-900 dark:bg-opacity-50 hover:bg-opacity-70;
}

label {
    @apply flex items-center;
}
.checkbox {
    @apply w-4 h-6 bg-gray-50 rounded border border-gray-300
    dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800 mr-4;
}
